DIV[id]
{
}

.attached-parent
{
	margin-left: 10px;
}

#top-submit .attached-parent,
#top-submit .attached-slider,
#bottom-submit .attached-parent,
#bottom-submit .attached-slider
{
	width: 10px;
	height: 10px;
	background: #999900;
	display: inline-block;
}

#configurator
{
	padding-top: 35px;
	padding-bottom: 35px;
}

#top-submit,
#bottom-submit
{
	left: 0px;
	right: 0px;
	padding: 10px;
	position: fixed;
	background: #F9F9F9;
	text-align: left;
}

#top-submit
{
	top: 0px;
}

#bottom-submit
{
	bottom: 0px;

}

DIV.block
{
	padding: 5px 0px;
}

LABEL, SPAN
{
	font-size: 12px;
	line-height: 18px;
	font-family: verdana;
}

INPUT, SELECT, OPTION
{
	font-size: 10px;
	line-height: 14px;
	font-family: arial;
}

LABEL
{
	display: block;
	overflow: hidden;
}

LABEL SPAN
{
	float: left;
	width: 70px;
	display: block;
}

LABEL SELECT
{
	float: left;
	width: 136px;
	display: block;
}

LABEL
{
	margin-bottom: 1px;
}

SPAN.label
{
	vertical-align: top;
}

LABEL.text SPAN.label
{
	width: 170px;
	float: left;
	vertical-align: middle;
}

LABEL.text INPUT
{
	width: 26px;
	float: right;
	margin: 0px 0px;
	padding: 1px 2px;
	line-height: 10px;
	border: 1px solid #CCC;
	vertical-align: middle;
}

LABEL SELECT
{
	margin: 0px 0px;
	padding: 0px 0px;
	line-height: 12px;
	vertical-align: middle;
	border: 1px solid #CCC;
}

LABEL.checkbox SPAN
{
	float: left;
	width: 150px;
}

#swipe,
#tiles,
#autoVpOpp,
#autoslide
{
	display: block;
	margin-top: 6px;
	padding-left: 8px;
}

#swipe LABEL SELECT,
#tiles LABEL SELECT,
#autoVpOpp LABEL SELECT,
#autoslide LABEL SELECT
{
	width: 140px;
}

#swipe LABEL.text SPAN,
#tiles LABEL.text SPAN,
#autoVpOpp LABEL.text SPAN,
#autoslide LABEL.text SPAN
{
	width: 162px;
}

#swipe LABEL.checkbox SPAN,
#tiles LABEL.checkbox SPAN,
#autoVpOpp LABEL.checkbox SPAN,
#autoslide LABEL.checkbox SPAN
{
	width: 140px;
}


LABEL.checkbox INPUT
{
	width: 20px;
	float: left;
}