#autoslide, #swipe
{
	display: block;
}

LABEL, SPAN
{
	font-size: 12px;
	font-family: verdana;
}

INPUT, SELECT, OPTION
{
	font-size: 11px;
	font-family: arial;
}

LABEL
{
	display: block;
	overflow: hidden;
}

LABEL SPAN
{
	float: left;
	width: 70px;
	display: block;
}

LABEL SELECT
{
	float: left;
	width: 130px;
	display: block;
}

LABEL.text SPAN
{
	width: 160px;
}

LABEL.checkbox SPAN
{
	float: left;
	width: 150px;
}

LABEL.checkbox INPUT
{
	width: 20px;
	float: left;
}